@import url("http://fonts.googleapis.com/css?family=Courgette");

html { 
  background: url('../img/Water-Blue-Background-Wallpaper-HD.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer-panel {
	background: #F4CC41 !important;
}

#slider {
	margin-top: 10px;
}

.has-form input {
	height: 1.9rem !important;
}

h4 {
	font-family: 'Courgette', cursive !important;
}

.front-box {
	background-color: transparent;
}

.front-box h4 {
	text-align: center;
}

.shaded {
	background-color:rgba(255,255,255,0.4);
}